[Desktop Entry]
Type=Application
Version=1.0
Name=Rúbrica
GenericName=Editor de libros electrónicos
Comment=Editor de EPUB con libcosmic
Exec=rubrica-cosmic %f
Icon=com.gutenair.RubricaCosmic
Terminal=false
StartupNotify=true
StartupWMClass=com.gutenair.RubricaCosmic
Categories=Office;Publishing;
MimeType=application/epub+zip;
Keywords=EPUB;editor;ebook;libro;
